<?xml version="1.0"?>
<robot name="sim_car">

    <link name="base_footprint">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </link>

    <link name="base_link">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </link>

    <link name="fsds/FSCar">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </link>

    <joint name="footprint_link" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.20" rpy="0 0 0"/>
    </joint>

    <joint name="FSDS_to_base_footprint" type="fixed">
        <parent link="fsds/FSCar"/>
        <child link="base_footprint"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    
</robot>